# Unity generated folders
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/MemoryCaptures/
/UserSettings/

# Asset import artifacts
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.mdb
/*.opendb
/*.VC.db

# Unity package caches
/Packages/packages-lock.json

# OS/editor noise
.DS_Store
Thumbs.db
.idea/
.vs/
.vscode/
